<div class="action-info">
    <h2>
        <div
            ng-if="ctrl.action.group_type != 'outing' && ctrl.action.display_category"
            class="action-icon"
            ng-class="ctrl.action.entourage_type + ' ' + ctrl.action.display_category"
            ></div>
        <div
            ng-if="ctrl.action.group_type == 'outing'"
            class="action-icon outing"
            ></div>
        <div
            ng-if="ctrl.action.icon_url"
            class="action-icon"
            ng-style="{'background-image': 'url(' + ctrl.action.icon_url + ')'}"
            ></div>
        <span ng-bind="ctrl.action.title"></span>
    </h2>
    <div
        ng-if="ctrl.action.type != 'Announcement'"
        class="action-status"
        ng-switch on="ctrl.action.join_status"
        >
        <div
            ng-switch-when="pending"
            class="action-status-pending"
            >
            <i class="material-icons">access_time</i> Votre demande est en attente
        </div>
        <div
            ng-switch-when="accepted"
            class="action-status-joined"
            >
            <div
                ng-if="ctrl.action.status == 'closed'"
                class="action-status-closed"
                >
                <span ng-if="ctrl.user.id != ctrl.action.author.id">
                    <i class="material-icons">done</i>
                    <span ng-if="ctrl.action.outcome.success"> Merci d'avoir participé au succès de cette action !</span>
                    <span ng-if="!ctrl.action.outcome.success"> Merci d'avoir participé à cette action !</span>
                </span>
                <span ng-if="ctrl.user.id == ctrl.action.author.id">
                    <i class="material-icons">done</i> 
                    <span ng-if="ctrl.action.outcome.success">Votre action a été un succès, bravo !</span>
                    <span ng-if="!ctrl.action.outcome.success">Votre action est terminée, merci !</span>
                </span>
            </div>
            <div ng-if="ctrl.action.status != 'closed'">
                <span ng-if="ctrl.user.id != ctrl.action.author.id">Vous participez à cette action !</span>
                <span ng-if="ctrl.user.id == ctrl.action.author.id">Vous avez créé cette action !</span>
            </div>
        </div>
        <div ng-switch-default>
            <div
                ng-if="ctrl.action.status == 'closed'"
                class="action-status-closed"
                >
                <i class="material-icons">done</i> 
                <span ng-if="ctrl.action.outcome.success"> Cette action a été un succès, merci à tous !</span>
                <span ng-if="!ctrl.action.outcome.success"> Cette action est finie, merci à tous !</span>
            </div>
            <div
                ng-if="ctrl.action.status != 'closed'"
                class="action-date"
                >
                <div ng-if="ctrl.action.group_type != 'outing'">
                    Créé <span ng-bind="ctrl.action.created_at|timeAgo"></span> par
                    <user-name
                        user="ctrl.user"
                        profile="ctrl.action.author"
                        ></user-name>
                </div>
                <div ng-if="ctrl.action.group_type == 'outing'">
                    Rendez-vous le <strong ng-bind="ctrl.action.metadata.starts_at|date:'d MMMM à H:mm'|formatDate"></strong>
                </div>
            </div>
        </div>
    </div>
    <div
        ng-if="ctrl.action.type == 'Announcement'"
        class="action-announcement-content"
        >
        <p ng-bind="ctrl.action.body"></p>
        <a
            ng-if="ctrl.action.url"
            class="btn white-btn"
            ng-bind="ctrl.action.action"
            ></a>
    </div>
</div>
<user-picture
    user="ctrl.user"
    action="ctrl.action"
></user-picture>
