<div
    id="current-action"
    ng-class="{open: ctrl.open, 'show-over-modal': ctrl.showOverModal}"
    >
    <div>
        <div class="action-actions">
            <div class="action-left-actions">
                <a
                    ng-if="ctrl.action.group_type != 'conversation'"
                    ng-click="ctrl.shareFacebook()"
                    class="no-icon action-share"
                    tooltip-placement="top"
                    uib-tooltip="Partager sur Facebook"
                    tooltip-append-to-body="true"
                    >
                    <i class="material-icons">share</i> Partager
                </a>
                <a
                    ng-if="ctrl.is_admin && ctrl.action.status != 'closed' && ctrl.action.group_type != 'conversation'"
                    class="action-edit"
                    tooltip-placement="top"
                    uib-tooltip="Modifier votre action"
                    tooltip-append-to-body="true"
                    >
                    <i
                        class="material-icons"
                        ng-click="ctrl.edit()"
                        >
                        edit
                    </i>
                </a>
                <a
                    ng-if="!ctrl.public && !ctrl.is_admin"
                    class="action-report"
                    tooltip-placement="top"
                    uib-tooltip="Signaler cette action à l'équipe d'Entourage"
                    tooltip-append-to-body="true"
                    >
                    <i
                        class="material-icons"
                        ng-click="ctrl.report()"
                        >
                        report
                    </i>
                </a>
                <a
                    ng-if="!ctrl.public && (ctrl.action.join_status == 'accepted' || ctrl.action.join_status == 'pending') && !ctrl.is_admin && ctrl.action.status != 'closed' && ctrl.action.group_type != 'conversation'"
                    tooltip-placement="top"
                    uib-tooltip="Quitter cette action"
                    tooltip-append-to-body="true"
                    >
                    <i
                        class="material-icons"
                        ng-click="ctrl.leave()"
                        >
                        exit_to_app
                    </i>
                </a>
                <a
                    ng-if="ctrl.is_admin && ctrl.action.status != 'closed' && ctrl.action.group_type != 'conversation'"
                    tooltip-placement="top"
                    uib-tooltip="Clôturer votre action"
                    tooltip-append-to-body="true"
                    >
                    <i
                        class="material-icons"
                        ng-click="ctrl.finishAction()"
                        >
                        power_settings_new
                    </i>
                </a>
            </div>
            <div class="action-right-actions">
                <a
                    class="no-icon action-close no-mobile"
                    ng-click="ctrl.hide(ctrl.action)"
                    >
                    Fermer la fenêtre
                    <i class="material-icons">
                        arrow_forward
                    </i>
                </a>
                <a
                    class="action-close mobile-only"
                    ng-click="ctrl.hide(ctrl.action)"
                    >
                    <i class="material-icons mobile-only">
                        arrow_back
                    </i>
                </a>
            </div>
        </div>
        <div
            class="action-content"
            ng-class="{loading: ctrl.loading}"
            >
            <div class="action-title">
                <div>
                    <action-participants-picture
                        class="action-participants-picture-container"
                        user="ctrl.user"
                        action="ctrl.action"
                        show-profile="ctrl.openProfile(id)"
                        clickable="!ctrl.public"
                    ></action-participants-picture>
                    <h2
                        class="capitalize-first-letter"
                        ng-bind="ctrl.action.title"
                        ></h2>
                </div>
                <div
                    ng-if="ctrl.action.metadata.display_address"
                    class="action-address"
                    >
                    <div
                        ng-if="ctrl.action.metadata.starts_at"
                        class="action-date"
                        >
                        <!--span ng-bind="ctrl.action.metadata.starts_at|date:'EEE'|formatDate"></span-->
                        <strong ng-bind="ctrl.action.metadata.starts_at|date:'d'"></strong>
                        <span ng-bind="ctrl.action.metadata.starts_at|date:'MMM'|formatDate"></span>
                    </div>
                    <div>
                        <strong ng-if="ctrl.action.metadata.starts_at">{{ ctrl.action.metadata.starts_at|date:'H:mm' }}&nbsp;·&nbsp;</strong>
                        <a
                            class="action-address-link"
                            ng-href="{{ 'https://www.google.com/maps/place/?q=place_id:' + ctrl.action.metadata.google_place_id }}" 
                            target="_blank"
                            ng-bind="ctrl.action.metadata.display_address"
                            ></a>
                    </div>
                </div>
            </div>
            <div class="action-chat">
                <div ng-if="ctrl.action.join_status != 'accepted'">
                    <div class="action-details">
                        <user-name
                            user="ctrl.user"
                            profile="ctrl.action.author"
                            show-profile="ctrl.openProfile(id)"
                            clickable="!ctrl.public"
                            ></user-name>
                        a créé l'action le
                        <span ng-bind="ctrl.action.created_at|date:'d MMMM'|formatDate"></span>
                    </div>
                    <p
                        ng-if="ctrl.action.description"
                        class="action-description"
                        >
                        <span
                            class="capitalize-first-letter"
                            ng-bind-html="ctrl.action.description|linkify|showbr|trusted"
                            ></span>
                    </p>
                </div>
                <div ng-if="ctrl.action.join_status == 'accepted'">
                    <div
                        ng-if="ctrl.action.group_type != 'conversation'"
                        class="action-chat-date"
                        ng-bind="ctrl.action.created_at|date:'d MMMM, H:mm'|formatDate"
                        ></div>
                    <div
                        ng-if="ctrl.action.group_type != 'conversation'"
                        ng-class="{'own-message': ctrl.action.author.id == ctrl.user.id}"
                        >
                        <div class="action-chat-author">
                            <user-name
                                user="ctrl.user"
                                profile="ctrl.action.author"
                                with-picture="true"
                                show-profile="ctrl.openProfile(id)"
                                clickable="!ctrl.public"
                                ></user-name>
                            &nbsp;a créé l'action
                        </div>
                        <div
                            ng-if="ctrl.action.description"
                            class="action-chat-message"
                            ng-bind-html="ctrl.action.description|linkify|showbr|trusted"
                            ></div>
                    </div>
                    <div
                        ng-repeat="event in ctrl.timeline"
                        ng-class="{'own-message': event.type == 'message' && event.user.id == ctrl.user.id}"
                        >
                        <div
                            ng-if="event.formatDate"
                            class="action-chat-date"
                            >
                            <span ng-if="event.formatDate == 'H:mm'">Aujourd'hui </span>
                            <span ng-bind="event.created_at|date:event.formatDate|formatDate"></span>
                        </div>
                        <div class="action-chat-author">
                            <user-name
                                user="ctrl.user"
                                profile="event.user"
                                with-picture="true"
                                show-profile="ctrl.openProfile(id)"
                                clickable="true"
                                ></user-name>
                            <span ng-if="event.type == 'user' && event.user.status == 'accepted'">&nbsp;a rejoint l'action</span>
                            <span
                                ng-if="event.message_type == 'status_update'"
                                ng-bind="'&nbsp;' + event.message"
                                ></span>
                        </div>
                        <div
                            ng-if="event.message && event.message_type != 'status_update'"
                            class="action-chat-message"
                            ng-bind-html="event.message|linkify|showbr|trusted"
                            ></div>
                    </div>
                    <div
                        ng-if="ctrl.is_admin && (ctrl.action.users|filter:{status: 'pending'}).length"
                        class="action-chat-requests"
                        ng-repeat="user in ctrl.action.users|filter:{status: 'pending'}"
                        >
                        <div class="action-chat-author">
                            <user-name
                                user="ctrl.user"
                                profile="user"
                                with-picture="true"
                                show-profile="ctrl.openProfile(id)"
                                clickable="true"
                                ></user-name>
                            &nbsp;souhaite rejoindre votre action
                        </div>
                        <div
                            ng-if="user.message"
                            class="action-chat-message"
                            ng-bind-html="user.message|linkify|showbr|trusted"
                            ></div>
                        <a
                            class="btn orange-btn"
                            ng-click="ctrl.changeUserStatus(user.id, 'accepted')"
                            >
                            <i class="material-icons">group_add</i>Accepter
                        </a>
                        <a
                            class="reject"
                            ng-click="ctrl.changeUserStatus(user.id, 'rejected')"
                            >
                            Refuser
                        </a>
                    </div>
                </div>
            </div>
            <div
                class="action-buttons"
                ng-if="ctrl.action.status == 'open'"
                ng-switch on="ctrl.action.join_status"
                >
                <a
                    ng-switch-default
                    class="btn orange-btn"
                    ng-click="ctrl.askJoin()"
                    >
                    <i class="material-icons">group_add</i>
                    Rejoignez <span ng-bind="ctrl.action.author.display_name"></span> !
                </a>
                <a
                    ng-switch-when="pending"
                    class="btn"
                    >
                    <i class="material-icons">access_time</i>
                    Votre demande est en attente
                </a>
                <a
                    ng-switch-when="rejected"
                    class="btn"
                    >
                    <i class="material-icons">access_time</i>
                    Votre demande n'a pas été acceptée
                </a>
                <div
                    ng-switch-when="accepted"
                    class="action-new-message"
                    >
                    <!--div class="textarea">
                        <div
                            class="content"
                            contenteditable
                            ng-model="ctrl.newMessage"
                            ng-alt-enter="ctrl.sendNewMessage()"
                            />
                        <input
                            ng-if="!ctrl.newMessage.length"
                            class="fake-placeholder"
                            type="text"
                            placeholder="Ecrivez un message..."
                            />
                    </div-->
                    <textarea
                        ng-model="ctrl.newMessage"
                        ng-alt-enter="ctrl.sendNewMessage()"
                        placeholder="Ecrivez un message..."
                        ng-class="{empty: !ctrl.newMessage}"
                        auto-height
                        ></textarea>
                    <a
                        class="btn orange-btn btn-icon"
                        ng-click="ctrl.sendNewMessage()"
                        title="Envoyer"
                        >
                        <i class="material-icons">send</i>        
                    </a>
                </div>
            </div>
            <div
                class="action-buttons"
                ng-if="ctrl.action.status == 'closed'"
                >
                <a class="btn">
                    <i class="material-icons">done</i>
                    <span ng-if="ctrl.is_admin">Votre action est terminée !</span>
                    <span ng-if="!ctrl.is_admin">Cette action est terminée !</span>
                </a>
            </div>
            <div
                class="action-buttons"
                ng-if="ctrl.action.status == 'suspended'"
                >
                <a
                    class="btn orange-btn"
                    ng-click="ctrl.sendConsent()"
                    >
                    <i class="material-icons">done</i>
                    <span>J'ai eu le consentement de la personne concernée</span>
                </a>
            </div>
        </div>
    </div>
    <modal-new-message
        ng-if="ctrl.currentMessage"
        user="ctrl.user"
        message="ctrl.currentMessage"
        ></modal-new-message>
    <modal-new-action
        ng-if="ctrl.editAction"
        user="ctrl.user"
        hide="ctrl.editAction = false"
        action="ctrl.action"
        ></modal-new-action>
    <modal-new-event
        ng-if="ctrl.editEvent"
        user="ctrl.user"
        hide="ctrl.editEvent = false"
        action="ctrl.action"
        ></modal-new-event>
</div>
