<div
    id="current-action"
    class="is-poi"
    ng-class="{open: ctrl.open, 'show-over-modal': ctrl.showOverModal}"
    ng-swipe-right="ctrl.hide(ctrl.poi)"
    >
    <div>
        <div class="action-actions">
            <div class="action-left-actions"></div>
            <div class="action-right-actions">
                <a
                    class="no-icon action-close no-mobile"
                    ng-click="ctrl.hide(ctrl.poi)"
                    >
                    Fermer la fenêtre
                    <i class="material-icons">
                        arrow_forward
                    </i>
                </a>
                <a
                    class="action-close mobile-only"
                    ng-click="ctrl.hide(ctrl.poi)"
                    >
                    <i class="material-icons mobile-only">
                        arrow_back
                    </i>
                </a>
            </div>
        </div>
        <div
            class="action-content"
            ng-class="{loading: ctrl.loading}"
            >
            <div class="action-title">
                <div>
                    <i
                        class="action-icon poi-icon"
                        ng-class="'category-' + ctrl.poi.category_id"
                        ></i>
                    <h2
                        class="capitalize-first-letter"
                        ng-bind="ctrl.poi.name"
                        ></h2>
                </div>
                <div class="action-address">
                    <div ng-if="ctrl.poi.adress">
                        <i class="material-icons">location_on</i>
                        <a
                            ng-href="https://www.google.fr/maps/?q={{ ctrl.poi.latitude }},{{ ctrl.poi.longitude }}"
                            target="_blank"
                            ng-bind="ctrl.poi.adress"
                            class="capitalize-first-letter"
                            ></a>
                    </div>
                    <div ng-if="ctrl.poi.phone">
                        <i class="material-icons">phone</i>
                        <a
                            ng-href="tel:{{ ctrl.poi.phone }}"
                            target="_blank"
                            ng-bind="ctrl.poi.phone"
                            ></a>
                    </div>
                    <div ng-if="ctrl.poi.email">
                        <i class="material-icons">mail</i>
                        <a
                            ng-href="mailto:{{ ctrl.poi.email }}"
                            target="_blank"
                            ng-bind="ctrl.poi.email"
                            ></a>
                    </div>
                    <div ng-if="ctrl.poi.website">
                        <i class="material-icons">link</i>
                        <a
                            ng-href="{{ ctrl.poi.website }}"
                            target="_blank"
                            ng-bind="ctrl.poi.website"
                            ></a>
                    </div>
                </div>
            </div>
            <div class="action-chat">
                <div>
                    <p
                        ng-if="ctrl.poi.description"
                        class="action-description"
                        >
                        <span
                            class="capitalize-first-letter"
                            ng-bind-html="ctrl.poi.description|linkify|showbr|trusted"
                            ></span>
                    </p>
                    <p
                        ng-if="ctrl.poi.audience"
                        class="action-description"
                        >
                        <br>
                        <b>Pour qui ?</b>
                        <span
                            class="capitalize-first-letter"
                            ng-bind="ctrl.poi.audience"
                            ></span>
                        <br><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
