<div
	id="image-crop-{{ rand }}"
	class="ng-image-crop ng-image-crop--{{ shape }}"
	ng-style="moduleStyles"
	>
	<section ng-show="step == 2">
		<canvas
			class="cropping-canvas"
			width="{{ canvasWidth }}"
			height="{{ canvasHeight }}"
			ng-mousemove="onCanvasMouseMove($event)"
			ng-mousedown="onCanvasMouseDown($event)"
			></canvas>
		<div
			ng-style="croppingGuideStyles"
			class="cropping-guide"
			></div>
		<div
			class="zoom-handle"
			ng-mousemove="onHandleMouseMove($event)"
			ng-mousedown="onHandleMouseDown($event)"
			ng-mouseup="onHandleMouseUp($event)"
			><span>&larr; zoom &rarr;</span>
		</div>
	</section>
	<section
		class="image-crop-section-final"
		ng-hide="true"
		>
		<img
			class="image-crop-final"
			ng-src="{{ croppedDataUri }}"
			/>
	</section>
</div>