<ul ng-class="{loading: ctrl.loading}">
    <li
        ng-if="ctrl.messages.length && ctrl.messages.length > 15 && (ctrl.unreadOnly || ctrl.user.notifications.length)"
        class="messages-actions"
        >
        <a
            ng-if="ctrl.unreadOnly || ctrl.user.notifications.length"
            ng-click="ctrl.filterUnread()"
            ng-bind="ctrl.unreadOnly ? 'Afficher tout' : ('En attente (' + ctrl.user.notifications.length + ')')"
            ></a>
        <a
            ng-if="ctrl.user.notifications.length"
            ng-click="ctrl.markAllAsRead()"
            >
            Tout marquer comme lu
        </a>
    </li>
    <li
        ng-if="ctrl.messages.length"
        ng-repeat="(k, action) in ctrl.messages"
        ng-show="ctrl.unreadOnly ? ctrl.user.notifications.indexOf(action.uuid) > -1 : true"
        class="action-item"
        ng-class="{unread: ctrl.user.notifications.indexOf(action.uuid) > -1}"
        ng-click="ctrl.showAction(action)"
        >
        <action-participants-picture
            class="action-participants-picture-container"
            action="action"
        ></action-participants-picture>
        <div class="action-info">
            <h2
                class="ellipsis"
                ng-bind="action.title"
                ></span>
            </h2>
            <p
                ng-if="action.join_status == 'pending'"
                class="pending"
                >
                <i class="material-icons">access_time</i> Votre demande est en attente
            </p>
            <p
                ng-if="action.join_status == 'accepted'"
                class="ellipsis"
                >
                <span
                    ng-if="!action.pendingUsers.length && action.last_message && action.last_message.author"
                    ng-bind-html="(action.last_message.author.first_name + ' : ' + action.last_message.text)|trusted"
                    ></span>
                <span
                    ng-if="!action.pendingUsers.length && !action.last_message && action.description"
                    ng-bind-html="(action.author.display_name + ' : ' + action.description)|trusted"
                    ></span>
                <span
                    ng-if="action.pendingUsers.length"
                    ng-bind="((action.pendingUsers.length > 1) ? (action.pendingUsers.length + ' personnes souhaitent') : (action.pendingUsers[0].display_name + ' souhaite')) + ' rejoindre votre action'"
                    ></span>
            </p>
            <p
                ng-if="action.status == 'suspended'"
                class="pending"
                >
                <i class="material-icons">access_time</i> En attente de consentement
            </p>
        </div>
    </li>
    <li
        ng-if="!ctrl.loading && !ctrl.messages.length"
        class="no-content"
        >
        Vous n'avez pas encore de messages. Rejoignez une action !
    </li>
</ul>
