<div class="modal-header">
    <a
        class="modal-close mobile-only"
        ng-click="ctrl.close()"
        >
        <i class="material-icons">arrow_back</i>
    </a>
    Comment ça marche ?
</div>
<div
    id="modal-carousel"
    class="modal-body"
    >
    C'est super !
    <a
        class="modal-close no-mobile"
        ng-click="ctrl.close()"
        >
        <i class="material-icons">close</i>
    </a>
</div>
<div class="modal-footer">
    <a
        ng-click="ctrl.close()"
        class="btn orange-btn"
        >
        <i class="material-icons">close</i>
        Fermer
    </a>
</div>