<div class="modal-header">
    <a
        class="modal-close mobile-only"
        ng-click="ctrl.close()"
        >
        <i class="material-icons">arrow_back</i>
    </a>
    <span ng-show="!ctrl.termsAccepted">Je respecte la <a href="https://blog.entourage.social/charte-ethique-grand-public/" target="_blank">charte d'Entourage</a>&nbsp;:</span>
    <span ng-show="ctrl.termsAccepted && !ctrl.editedAction">Vous souhaitez créer une action solidaire&nbsp;? C'est parti&nbsp;!</span>
    <span ng-show="ctrl.termsAccepted && ctrl.editedAction">Modifiez votre action</span>
</div>
<div
    id="modal-new-action"
    class="modal-body"
    ng-class="{loading: ctrl.loading}"
    >
    <ul
        id="terms-list"
        ng-show="!ctrl.termsAccepted"
        >
        <li>
            <div class="material-icons">record_voice_over</div>
            <div class="text">
                <strong>Recueillir l'accord</strong>
                Je dois recueillir le consentement des personnes concernées avant de créer un entourage
            </div>
        </li>
        <li>
            <div class="material-icons">lock</div>
            <div class="text">
                <strong>Sécurité</strong>
                Je n'inclus aucune donnée permettant d'identifier ou de localiser les personnes concernées
            </div>
        </li>
        <li>
            <div class="material-icons">place</div>
            <div class="text">
                <strong>Géolocalisation ?</strong>
                La position précise des actions ne sera pas diffusée : elle est remplacée par les zones orange sur la carte
            </div>
        </li>
    </ul>
    <div
        ng-show="ctrl.termsAccepted"
        class="form"
        >
        <fieldset ng-if="!ctrl.editedAction">
            <label>1. Choisissez une catégorie et précisez une zone géographique :</label>
            <div class="input-line">
                <div class="parent-dropdown">
                    <div
                        uib-dropdown
                        class="parent-select"
                        >
                        <a
                            uib-dropdown-toggle
                            class="btn"
                            ng-class="{empty: !ctrl.display_category}"
                            >
                            <i class="material-icons">toc</i>
                            <span ng-bind="ctrl.display_category ? ctrl.display_category.name : 'Catégorie'"></span>
                        </a>
                        <ul uib-dropdown-menu>
                            <li ng-repeat="type in ctrl.types">
                                <a
                                    class="dropdown-toggle"
                                    ng-bind="type.text.creation"
                                    ></a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="category in type.types">
                                        <a
                                            ng-click="ctrl.display_category = category;ctrl.entourage_type = type.id"
                                            ng-class="{selected: (ctrl.display_category.type == category.type) && (ctrl.entourage_type == type.id)}"
                                            >
                                            <div
                                                class="action-icon"
                                                ng-class="type.id + ' ' + category.type"
                                                ></div>
                                            <span ng-bind="category.name"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="parent-input with-icon address-icon">
                    <input
                        ng-init="ctrl.initSearchBox()"
                        id="new-action-search-input"
                        type="text"
                        placeholder="Adresse (sera masquée)"
                        />
                </div>
            </div>
        </fieldset>
        <fieldset>
            <label ng-if="!ctrl.editedAction">2. Donnez un titre clair à votre initiative :</label>
            <label ng-if="ctrl.editedAction">1. Modifiez le titre de votre initiative :</label>
            <div class="parent-input with-icon tag-icon">
                <input
                    type="text"
                    ng-model="ctrl.title"
                    maxlength="100"
                    placeholder="Je suis disponible pour... /Je recherche..."
                    />
            </div>
        </fieldset>
        <fieldset>
            <label ng-if="!ctrl.editedAction">3. Racontez simplement votre histoire. Les actions avec une description claire attirent plus de membres et ont plus de chances d'aboutir :</label>
            <label ng-if="ctrl.editedAction">2. Modifiez la description de votre initiative :</label>
            <div class="parent-input with-icon message-icon">
                <textarea
                    type="text"
                    ng-model="ctrl.description"
                    placeholder="Je crée cette action parce que..."
                ></textarea>
            </div>
        </fieldset>
        <fieldset ng-if="!ctrl.editedAction && ctrl.entourage_type == 'ask_for_help'">
            <label>4. Créez-vous cette action solidaire pour une personne identifiée, autre que vous : un ami en situation précaire, une personne croisée dans la rue ?</label>
            <div class="parent-dropdown">
                <div
                    uib-dropdown
                    class="parent-select"
                    >
                    <a
                        uib-dropdown-toggle
                        class="btn"
                        ng-class="{empty: !ctrl.recipient}"
                        >
                        <i class="material-icons">person_pin</i>
                        <span ng-bind="ctrl.recipient ? ctrl.recipient.label : 'Veuillez répondre'"></span>
                    </a>
                    <ul uib-dropdown-menu>
                        <li 
                            ng-repeat="recipient in ctrl.recipients"
                            ng-click="ctrl.recipient = recipient"
                            ng-class="{selected: ctrl.recipient == recipient}"
                            >
                            <a>
                                {{ recipient.label }} 
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </fieldset>
        <fieldset ng-if="ctrl.recipient && ctrl.recipient.id == 'other'">
            <label>5. Avez-vous obtenu son consentement pour diffuser cette action pour elle sur Entourage ?</label>
            <div class="parent-dropdown">
                <div
                    uib-dropdown
                    class="parent-select"
                    >
                    <a
                        uib-dropdown-toggle
                        class="btn"
                        ng-class="{empty: ctrl.recipient_consent_obtained == undefined}"
                        >
                        <span ng-if="ctrl.recipient_consent_obtained"><i class="material-icons">done</i> Oui, j'ai son accord</span>
                        <span ng-if="ctrl.recipient_consent_obtained == false"><i class="material-icons">close</i> Non, pas encore</span>
                        <span ng-if="ctrl.recipient_consent_obtained == undefined"><i class="material-icons">announcement</i> Veuillez répondre</span>
                    </a>
                    <ul uib-dropdown-menu>
                        <li 
                            ng-click="ctrl.recipient_consent_obtained = true"
                            ng-class="{selected: ctrl.recipient_consent_obtained}"
                            >
                            <a>
                                Oui, j'ai son accord
                            </a>
                        </li>
                        <li 
                            ng-click="ctrl.recipient_consent_obtained = false"
                            ng-class="{selected: ctrl.recipient_consent_obtained == false}"
                            >
                            <a>
                                Non, pas encore
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div
                ng-if="ctrl.recipient_consent_obtained == false"
                class="error"
                >
                Vous allez créer votre action, mais le consentement étant indispensable pour pouvoir la diffuser à tout le réseau, elle sera mise en suspens jusqu'à ce que vous ayez l'accord de la personne
            </div>
        </fieldset>
        <fieldset ng-if="ctrl.entourage_type == 'contribution'">
            <label for="public">
                <input
                    type="checkbox"
                    id="public"
                    ng-model="ctrl.public"
                    >
                Accepter directement les membres qui veulent rejoindre l'action
            </label>
        </fieldset>
        <div
            class="error"
            ng-repeat="error in ctrl.errors"
            ng-bind="error"
            ></div>
    </div>
    <a
        class="modal-close no-mobile"
        ng-click="ctrl.close()"
        >
        <i class="material-icons">close</i>
    </a>
</div>
<div class="modal-footer">
    <a
        ng-show="!ctrl.termsAccepted"
        ng-click="ctrl.termsAccepted = true"
        class="btn orange-btn"
        >
        <i class="material-icons">done</i>
        J'ai lu et j'accepte
    </a>
    <a
        ng-show="ctrl.termsAccepted"
        ng-click="ctrl.submit()"
        class="btn orange-btn"
        >
        <span ng-show="!ctrl.editedAction"><i class="material-icons">add</i> Créer mon action !</span>
        <span ng-show="ctrl.editedAction"><i class="material-icons">edit</i> Modifier mon action</span>
    </a>
</div>