<div class="modal-header">
    <a
        class="modal-close mobile-only"
        ng-click="ctrl.close()"
        >
        <i class="material-icons">arrow_back</i>
    </a>
    <span
        ng-if="ctrl.action.users"
        ng-bind="ctrl.action.users.length + ' participant' + (ctrl.action.users.length > 1 ? 's' : '')"
        ></span>
</div>
<div
    id="modal-action-participants"
    class="modal-body"
    ng-class="{loading: ctrl.loading}"
    ng-swipe-right="isMobile() && ctrl.close()"
    >
    <div
        class="action-participant"
        ng-repeat="user in ctrl.action.users|orderBy:'requested_at'"
        ng-click="ctrl.open(user.id)"
        >
        <div>
            <user-picture
                user="user"
                show-as-user="true"
                ></user-picture>
            <user-name
                user="user"
                show-as-user="true"
                ></user-name>
        </div>
        <span
            ng-if="user.role == 'creator'"
            class="role"
            >
            Créateur
        </span>
    </div>  
    <a
        class="modal-close no-mobile"
        ng-click="ctrl.close()"
        >
        <i class="material-icons">close</i>
    </a>
</div>
