<div class="modal-header no-close">
    <span ng-if="ctrl.has_password">Bienvenue sur Entourage ! Présentons-nous...</span>
     <span ng-if="!ctrl.has_password">Bienvenue sur l'app web d'Entourage !</span>
</div>
<div
    id="modal-profile-required"
    class="modal-body"
    ng-class="{loading: ctrl.loading}"
    >
    <div class="form">
        <div ng-if="ctrl.currentUser.has_password">
            <fieldset>
                <label>1. Pour commencer, et si vous nous disiez qui vous êtes ? C'est obligatoire mais pas d'inquiétude, votre nom sera masqué :</label>
                <div class="input-line">
                    <input
                        type="text"
                        ng-model="ctrl.first_name"
                        placeholder="Votre prénom"
                    />
                    <input
                        type="text"
                        ng-model="ctrl.last_name"
                        placeholder="Votre nom (ne sera pas affiché)"
                    />
                </div>
            </fieldset>
            <fieldset>
                <label>2. Présentez-vous en quelques mots à la communauté :</label>
                <div class="parent-input with-icon message-icon">
                    <textarea
                        ng-model="ctrl.about"
                        placeholder="Pourquoi avez-vous rejoint Entourage ?"
                    ></textarea>
                </div>
            </fieldset>
            <fieldset>
                <label>3. Quel est votre email ? Il est nécessaire pour nous afin de pouvoir vous renvoyer votre mot de passe si vous perdez votre téléphone :</label>
                <div class="parent-input with-icon email-icon">
                    <input
                        type="text"
                        ng-model="ctrl.email"
                        placeholder="Votre email"
                    />
                </div>
            </fieldset>
            <fieldset>
                <label>4. Pour finir, téléchargez une (jolie) photo de vous afin de mettre un visage sur vos actions !</label>
                <div class="input-line-centered">
                    <div
                        ng-if="ctrl.currentUser.avatar_url"
                        class="action-participants-picture-container"
                        >
                        <div class="action-participants-picture">
                            <div
                                class="action-author-profile"
                                ng-style="{'background-image': 'url(' + (ctrl.currentUser.avatar_url) + ')'}"
                                ></div>
                        </div>
                    </div>
                    <a
                        class="btn dark-btn"
                        ng-click="ctrl.showPicture = true"
                        ng-bind="ctrl.currentUser.avatar_url ? 'Changer' : 'Choisir'"
                        >
                    </a>
                </div>
            </fieldset>
        </div>
        <div ng-if="!ctrl.currentUser.has_password">
            <fieldset>
                <label>1. Veuillez définir un mot de passe (au moins 8 caractères)&nbsp;: </label>
                <div class="parent-input with-icon security-icon">
                    <input
                        type="password"
                        ng-model="ctrl.password"
                        placeholder="Votre nouveau mot de passe"
                    />
                </div>
            </fieldset>
            <fieldset>
                <label>2. Veuillez écrire à nouveau ce mot de passe&nbsp;:</label>
                <div class="parent-input with-icon security-icon">
                    <input
                        type="password"
                        ng-model="ctrl.password_confirm"
                        ng-enter="ctrl.submit()"
                        placeholder="Votre nouveau mot de passe"
                    />
                </div>
            </fieldset>
            <fieldset ng-if="!ctrl.currentUser.email">
                <label>3. Quel est votre email ? Il est nécessaire pour nous afin de pouvoir vous renvoyer votre mot de passe si vous perdez votre téléphone</label>
                <div class="parent-input with-icon email-icon">
                    <input
                        type="text"
                        ng-model="ctrl.email"
                        ng-enter="ctrl.submit()"
                        placeholder="Votre email"
                    />
                </div>
            </fieldset>
        </div>
        <div
            class="error"
            ng-repeat="error in ctrl.errors"
            ng-bind="error"
            ></div>
    </div>
</div>
<div class="modal-footer">
    <a
        ng-click="ctrl.submit()"
        class="btn orange-btn"
        >
        <i class="material-icons">send</i>
        Enregistrer !
    </a>
</div>
<modal-new-picture
    ng-if="ctrl.showPicture"
    show="ctrl.showPicture"
    user="ctrl.currentUser"
    ></modal-new-picture>