<div class="modal-header mobile-only">
    <a
        class="modal-close"
        ng-click="ctrl.close()"
        >
        <i class="material-icons">arrow_back</i>
    </a>
</div>
<div
    id="modal-profile-user"
    class="modal-body"
    ng-class="{loading: ctrl.loading}"
    ng-swipe-right="ctrl.close()"
    >
    <user-picture user="ctrl.profile"></user-picture>
    <h2
        class="modal-profile-user-name"
        ng-bind="ctrl.profile.display_name"
        ></h2>
    <div
        ng-if="ctrl.profile.about"
        class="modal-profile-user-description"
        >
        "<span ng-bind="ctrl.profile.about|linkify"></span>"
    </div>
    <div
        ng-if="ctrl.profile.stats.entourage_count || ctrl.profile.organization || ctrl.profile.partner"
        class="modal-profile-user-info"
        >
        <ul ng-if="ctrl.profile.stats.entourage_count">
            <li>Actions</li>
            <li>
                <i class="material-icons">create</i>
                <b ng-bind="ctrl.profile.stats.entourage_count"></b>
                <span ng-if="ctrl.profile.stats.entourage_count > 1">actions créées</span>
                <span ng-if="ctrl.profile.stats.entourage_count == 1">action créée</span>
            </li>
        </ul>
        <ul ng-if="ctrl.profile.organization || ctrl.profile.partner || ctrl.profile.roles.indexOf('ambassador') > -1">
            <li>Associations</li>
            <li ng-if="ctrl.profile.roles.indexOf('ambassador') > -1">
                <i class="material-icons">favorite</i> Ambassadeur d'<b>Entourage</b>
            </li>
            <li ng-if="ctrl.profile.partner">
                <i class="material-icons">thumb_up</i> Sympathisant de <a ng-href="http://{{ ctrl.profile.partner.website_url }}" target="_blank" ng-bind="ctrl.profile.partner.name"></a>
            </li>
            <li ng-if="ctrl.profile.organization">
                <i class="material-icons">directions_walk</i> Maraudeur avec <b ng-bind="ctrl.profile.organization.name"></b>
            </li>
        </ul>
    </div>
    <a
        class="modal-close no-mobile"
        ng-click="ctrl.close()"
        >
        <i class="material-icons">close</i>
    </a>
</div>
<div
    ng-if="ctrl.profile.id != ctrl.user.id"
    class="modal-footer"
    >
    <a
        ng-click="ctrl.report()"
        class="btn dark-btn report-btn"
        >
        <i class="material-icons">error</i>
        Signaler
    </a>
    <a
        ng-click="ctrl.contact()"
        class="btn orange-btn"
        >
        <i class="material-icons">send</i>
        Contacter
    </a>
</div>
<modal-new-message
    ng-if="ctrl.currentMessage"
    user="ctrl.user"
    message="ctrl.currentMessage"
    ></modal-new-message>