<div class="modal-header">
    <a
        class="modal-close mobile-only"
        ng-click="ctrl.close()"
        >
        <i class="material-icons">arrow_back</i>
    </a>
    Mot de passe oublié ?
</div>
<div class="modal-body">
    <div>
        <div
            ng-if="!ctrl.newPasswordSent"
            class="form"
            >
            <fieldset>
                <label>Entrez votre numéro de téléphone pour recevoir votre nouveau code par SMS&nbsp;:</label>
                <div class="input-parent input-phone">
                    <div class="parent-dropdown">
                        <div class="country-selection dropdown">
                            <i
                                class="iti-flag"
                                ng-class="ctrl.country[1]"
                                ></i>
                            <div ng-bind="'+' + ctrl.country[2]"></div>
                            <ul
                                class="dropdown-menu"
                                >
                                <li ng-repeat="c in ctrl.countries">
                                    <a ng-click="ctrl.selectCountry(c)">
                                        <i
                                            class="iti-flag"
                                            ng-class="c[1]"
                                            ></i>
                                        <span ng-bind="c[0]"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <input
                        type="text"
                        ng-model="ctrl.phone"
                        placeholder="Votre numéro de téléphone"
                        ng-enter="ctrl.newPassword()"
                        />
                </div>
            </fieldset>
            <div
                class="error"
                ng-if="ctrl.error"
                ng-bind="ctrl.error"
                ></div>
        </div>
        <div ng-if="ctrl.newPasswordSent">
            <h3>Votre nouveau mot de passe vous a été envoyé à ce numéro : <span ng-bind="ctrl.phone"></span></h3>
        </div>
    </div>
    <a
        class="modal-close no-mobile"
        ng-click="ctrl.close()"
        >
        <i class="material-icons">close</i>
    </a>
</div>
<div
    ng-if="!ctrl.newPasswordSent"
    class="modal-footer"
    >
    <a
        class="btn orange-btn"
        ng-click="ctrl.newPassword()"
        >
        <i class="material-icons">send</i> Envoyer
    </a>
</div>