<div class="modal-header">
    <a
        class="modal-close mobile-only"
        ng-click="ctrl.close()"
        >
        <i class="material-icons">arrow_back</i>
    </a>
    <span
        ng-if="ctrl.action.users"
        ng-bind="ctrl.action.users.length + ' participant' + (ctrl.action.users.length > 1 ? 's' : '')"
        ></span>
</div>
<div
    id="modal-action-participants"
    class="modal-body"
    ng-class="{loading: ctrl.loading}"
    ng-swipe-right="ctrl.close()"
    >
    <div
        class="action-participant"
        ng-repeat="participant in ctrl.action.users"
        ng-click="ctrl.open(participant.id)"
        >
        <user-picture user="participant"></user-picture>
        <h3 ng-bind="participant.display_name"></h3>
    </div>  
    <a
        class="modal-close no-mobile"
        ng-click="ctrl.close()"
        >
        <i class="material-icons">close</i>
    </a>
</div>
