<div
    id="page-registration"
    class="modal-body"
    >
    <div>
        <div class="illu"></div>
        <div
             ng-if="!ctrl.newPasswordSent"
             class="text"
             >
            <h3>
                Vous avez oublié votre mot passe ?<br> Pas de problème !
            </h3>
            <div class="registration-form">
                <p>Entrez votre numéro de téléphone pour recevoir votre nouveau code par SMS&nbsp;:</p>
                <div class="input-parent">
                    <div class="parent-dropdown">
                        <div class="country-selection dropdown">
                            <i
                                class="iti-flag"
                                ng-class="ctrl.country[1]"
                                ></i>
                            <div ng-bind="'+' + ctrl.country[2]"></div>
                            <ul
                                id="country-list"
                                class="dropdown-menu"
                                >
                                <li ng-repeat="c in ctrl.countries">
                                    <a ng-click="ctrl.selectCountry(c)">
                                        <i
                                            class="iti-flag"
                                            ng-class="c[1]"
                                            ></i>
                                        <span ng-bind="c[0]"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <input
                        type="text"
                        ng-model="ctrl.phone"
                        placeholder="Votre numéro de téléphone"
                        ng-enter="ctrl.newPassword()"
                        />
                    <a
                        class="btn"
                        ng-click="ctrl.newPassword()"
                        >
                        Envoyer
                    </a>
                </div>
                <div
                    class="error"
                    ng-if="ctrl.error"
                    ng-bind="ctrl.error"
                    ></div>
            </div>
        </div>
        <div
             ng-if="ctrl.newPasswordSent"
             class="text"
             >
            <h3>Votre nouveau mot de passe vous a été envoyé à ce numéro : <span ng-bind="ctrl.phone"></span></h3>
        </div>
    </div>
    <a
        class="modal-close"
        ng-click="ctrl.close()"
        >
        <i class="material-icons">close</i>
    </a>
</div>