<div
    ng-if="ctrl.user"
    class="user-picture-container"
    >
    <div
        class="user-picture"
        ng-class="{clickable: ctrl.clickable}"
        ng-click="ctrl.showParticipants()"
        >
        <div
            class="user-picture-profile"
            ng-class="{'no-picture': !ctrl.imageUrl}"
            ng-style="{'background-image': 'url(' + ctrl.imageUrl + ')'}"
            ></div>
        <div
            ng-if="ctrl.action && ctrl.action.number_of_people && ctrl.action.group_type != 'conversation'"
            class="action-participants"
            ng-bind="ctrl.action.number_of_people > 99 ? '99+' : ('+' + (ctrl.action.number_of_people - 1))"
            ></div>
    </div>
    <div
        ng-if="ctrl.user.partner || ctrl.isAmbassador"
        class="user-picture-badge"
        tooltip-placement="right"
        tooltip-enable="ctrl.user.partner"
        uib-tooltip="Membre d'une association"
        tooltip-append-to-body="true"
        ng-class="{
            'partner': ctrl.user.partner,
            'entourage': ctrl.isAmbassador
        }"
        ></div>
</div>