<a
    class="action-author-link"
    ng-class="{clickable: ctrl.clickable}"
    ng-click="ctrl.click()"
    >
    <user-picture
        ng-if="ctrl.withPicture"
        user="ctrl.user"
        show-as-user="ctrl.showAsUser"
        ></user-picture>
    <b class="action-author-name">
        <span
            class="capitalize-first-letter"
            ng-bind="ctrl.displayName"
            ></span>
        <span
            ng-if="ctrl.user.partner && ctrl.showAsUser"
            class="action-partner-name capitalize-first-letter"
            ng-bind="ctrl.user.partner.name"
            ></span>
    </b>
</a>