/* App */

html,
body,
#page-content,
#map,
#map-container {
    position: relative;
	height: 100%;
	overflow-x: hidden;
}

a,
a:hover,
a:focus,
a:active {
	color: #EF662F;
}

body {
    font-size: 0;
    color: #333;
}

#site-header-fixed:not(.show) {
	top: -100px;
}

#app-filters {
	position: relative;
	display: inline-block;
	margin-top: 14px;
	margin-left: 61px;
	font-size: 0;
}

#app-filters > li {
	position: relative;
	display: inline-block;
	margin-right: 15px;
	height: 33px;
	font-size: 12px;
	line-height: 33px;
	border-radius: 3px;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

#app-filters > li.active {
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}

#app-filters .material-icons {
	margin: 0 7px;
	color: #b9b9b9;
	font-size: 20px;
}

#app-search-input {
	width: 220px;
	height: 33px;
	margin-left: -37px;
    padding: 0 37px;
    background: transparent;
    line-height: 33px;
    font-size: 14px;
    color: #8c8c8c;
}

#app-search-address {
    display: inline-block;
    font-size: 14px;
    color: #8c8c8c;
    vertical-align: top;
}

#app-search-address i {
    font-size: 15px;
}

#app-search-input:focus {
	outline: none;
}

#app-search-input::-webkit-input-placeholder {
	font-style: italic;
  	color: #c5c5c5;
}

#app-search-input::-moz-input-placeholder {
	font-style: italic;
  	color: #c5c5c5;
}

#app-search-input:-ms-input-placeholder {
	font-style: italic;
  	color: #c5c5c5;
}

#app-filter-more.active .dropdown-menu {
	display: block;
}

#app-filter-more:not(.active).enabled > .material-icons {
    color: #ff5100;
}

.dropdown-menu {
	display: none;
	position: absolute;
    top: 34px;
    left: 0;
    width: 340px;
    color: #8c8c8c;
    font-size: 15px;
	background: #f9f9f9;
	border-radius: 0 5px 5px 5px;
	border-top: 1px solid #f2f2f2;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.13);
}

.dropdown-menu li {
	padding: 10px;
	border-bottom: 1px solid #f2f2f2;
    white-space: nowrap;
}

.dropdown-menu li label {
	width: 160px;
    display: inline-block;
}

.dropdown-menu li select {
	background: #fff;
	padding: 0 15px;
    height: 33px;
    font-size: 14px;
    color: #8c8c8c;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: 0;
}

div.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.9);
    z-index: 1000;
    overflow-x: hidden;
    opacity: 0;
}

div.overlay > div {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

div.overlay .content {
    position: relative;
    border-radius: 5px;
    font-size: 18px;
}

div.overlay.fade-in {
	opacity: 1;
	animation: fadeIn ease-in 0.3s;
}

div.overlay.fade-out {
	opacity: 0;
	z-index: -1;
	animation: fadeOut ease-in 1s;
}

@keyframes fadeIn {
    0% {
    	opacity: 0;
    }
    100% {
    	opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
    	opacity: 1;
    	z-index: 1000;
    }
    100% {
    	opacity: 0;
    	z-index: -1;
    }
}

#page-title {
	padding-top: 0;
	background: #fff;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#page-title:not(.fade-out) {
	opacity: 1;
	z-index: 1001;
}

#page-title > div {
    height: 100%;
    margin: 0;
	flex-direction: column;
	animation: opacity ease-in 3s infinite;
}

@keyframes opacity {
    0% {
    	opacity: 1;
    }
    50% {
    	opacity: 0.4;
    }
    100% {
    	opacity: 1;
    }
}

#page-title img {
	margin-bottom: 10px;
}

#page-title a {
	text-decoration: none;
}

#page-title h1 {
	font-size: 16px;
	font-weight: 300;
    color: #797979;
}

#page-registration div.content {
	display: flex;
    flex-wrap: nowrap;
    background: url(../img/bg-simple-comme-bonjour.jpg);
    background-size: cover;
    background-color: #ff5100;
    color: #FFF;
}

#page-registration div.illu {
    display: inline-block;
    width: 190px;
    margin-left: 30px;
    background: url(../img/app-screenshot.png) no-repeat;
    background-position: bottom left;
    background-size: 100%;
    flex-shrink: 0;
}

#page-registration div.content.valid div.illu {
	background-image: url(../img/character-1.png);
}

#page-registration div.text {
    margin: 50px;
    text-align: center;
}

#page-registration div.text h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

#page-registration div.content a.page-close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #FFF;
	font-size: 18px;
	cursor: pointer;
}

#page-registration div.registration-form {
	display: inline-block;
    width: 380px;
    font-size: 17px;
    vertical-align: middle;
    line-height: 22px;
}

#page-registration div.registration-form a:not(.btn) {
	color: #fff;
	text-decoration: underline;
}

#page-registration div.registration-form p {
    margin-bottom: 4px;
}

#page-registration div.input-parent {
	display: flex;
	margin-top: 20px;
	border-radius: 6px;
}

div.input-parent .country-selection {
	position: relative;
	height: 45px;
    display: flex;
    background: #eee;
    color: #333;
    padding: 0 13px;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}

div.input-parent .country-selection .iti-flag {
}

div.input-parent .country-selection #country-list {
	top: 45px;
	left: 0;
    text-align: left;
    display: block;
}

div.input-parent .country-selection #country-list li {
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}

#page-registration div.input-parent input {
    width: 220px;
    height: 45px;
    padding: 0;
    padding-left: 10px;
	border: none;
	background: #fff;
    border-radius: 0;
	line-height: 45px;
	color: #333;
	font-size: 15px;
	vertical-align: top;
	outline: 0;
}

#page-registration div.input-parent input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
  	color: #c5c5c5;
}

#page-registration div.input-parent input::-moz-input-placeholder {
	font-style: italic;
	font-weight: 300;
  	color: #c5c5c5;
}

#page-registration div.input-parent input-ms-input-placeholder {
	font-style: italic;
	font-weight: 300;
  	color: #c5c5c5;
}


#page-registration div.input-parent .btn {
	height: 45px;
	padding: 0 20px;
    font-weight: 400;
	background: #000;
	border-radius: 0 5px 5px 0;
	line-height: 45px;
	color: #fff;
	font-size: 15px;
}

#page-registration .error {
    margin-top: 7px;
	font-size: 15px;
    font-weight: bold;
}

#map {
    position: relative;
}

#map-right-band {
	position: absolute;
	top: 70px;
    bottom: 10px;
    right: -350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
	overflow: hidden;
	text-align: center;
	transition: right 0.3s;
}

#map-right-band > div {
	display: flex;
    flex-direction: column;
	border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 9px rgba(0,0,0,0.3);
}

#map-right-band.open {
	right: 30px;
}

#map-right-band .action-title {
	font-size: 16px;
    font-weight: 600;
    padding: 15px;
    background: #333;
    color: white;
    border-radius: 5px 5px 0 0;
}

#map-right-band .action-content {
	padding: 20px;
	overflow: auto;
}

#map-right-band .action-details {
	position: relative;
    font-size: 13px;
    color: #6C6F73;
    border-bottom: 1px solid#eee;
    text-align: right;
    line-height: 36px;
    background: #f1f1f1;
    padding-right: 10px;
    border-radius: 0 0 5px 5px;
}

.action-author:hover {
	text-decoration: none;
}

.action-author-picture {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: #ddd;
    margin: 0 3px;
	vertical-align: middle;
}

#map-right-band .action-close {
    position: absolute;
    top: 0px;
    left: 10px;
    color: #333;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

#map-right-band .action-buttons {
	margin-top: 20px;
}

#map-right-band .action-buttons .btn:not(:last-child) {
	margin-bottom: 10px;
}

#map-right-band #share-fb {
    background-color: #365899;
    color: #fff;
}

#map-right-band #closed {
	font-size: 13px;
    display: block;
    background: #eee;
    color: #333;
    font-weight: bold;
    line-height: 25px;
    border-radius: 3px;
}

#map-right-band .action-description {
    padding-right: 5px;
    font-size: 15px;
    line-height: 18px;
    text-align: left;
    word-wrap: break-word;
}

/* Custom Goggle Maps CSS */

.gm-style > div > div .gmnoprint {
    background: #ffa018;
    border-radius: 100%;
    margin-top: -7px;
    margin-left: -7px;
}

.gm-style > div > div .gmnoprint:nth-child(2n) {
	animation-delay: 0.5s;
}

.gm-style > div > div .gmnoprint:nth-child(3n) {
	animation-delay: 1s;
}

.gm-style > div > div .gmnoprint[title*=cours] {
    opacity: 1 !important;
    animation: pulse 3s infinite; /*rotate 10s linear infinite*/
}

.gm-style > div > div .gmnoprint[title*=Terminée] {
    animation: none;
    opacity: 0.7 !important;
    box-shadow: 0 0 2px 2px #ff8404;
    transform: scale(0.7);
}

@keyframes pulse {
    0% {
    	opacity: 0.7 !important;
    	box-shadow: 0 0 6px 4px #ff8404;
    }
    50% {
    	opacity: 0.2 !important;
    	box-shadow: 0 0 6px 7px #ff8404;
    }
    100% {
    	opacity: 0.8 !important;
    	box-shadow: 0 0 6px 4px #ff8404;
    }
}

@keyframes rotate {
    0% {
    	transform: rotate(0deg);
    }
    100% {
    	transform: rotate(360deg);
    }
}

.gm-style > div > div .gmnoprint:hover,
.gm-style > div > div .gmnoprint[title*=ouverte] {
    box-shadow: 0 0 6px 6px #fff;
    background: #ff3c00;
    transform: scale(1.2);
    opacity: 1 !important;
	z-index: 9998 !important;
	animation: none;
}

.gm-style > div > div .gmnoprint:hover {
	z-index: 9999 !important;
}

.gm-info-window {
	cursor: pointer;
}

.gm-info-window b {
	color: #333;
}

.gm-info-window span {
	display: block;
	font-size: 11px;
	margin-top: 5px;
}

.gm-info-window a:hover {
	text-decoration: none;
}

/*** MOBILE VIEW */

@media (max-width: 900px) {

	#site-header-logo {
	    left: 18px;
	    margin-left: 0;
	}

	#page-title h1 {
		margin: 0 50px;
	}

	#app-search-input {
	    width: 182px;
	}

	#app-filter-more.active .dropdown-menu {
	    left: inherit;
	    right: -21px;
    	top: 46px;
    	width: inherit;
    	border-radius: 0 0 5px 0;
	}

	#map-right-band.open {
	    right: 50%;
	    margin-right: -150px;
	}

	#map-right-band .action-title {
	    padding: 15px 30px;	
	}

	div.overlay > div {
		margin: 10px;
	}

	#page-registration div.content {
        width: 100%;
	    flex-wrap: nowrap;
	    flex-direction: column-reverse;
	}

	#page-registration div.illu {
	    height: 210px;
        margin: 10px auto 0;
	}

	#page-registration div.text {
	    margin: 40px 10px 0;
	}

	#page-registration div.text h3 {
	}

	#page-registration div.registration-form {
	    width: inherit;
	    margin: 20px 0;
	    font-size: 15px;
	    vertical-align: middle;
	    line-height: 17px;
	}

    #page-registration div.input-parent {
        flex-wrap: wrap;
        justify-content: center;    
    }

	#page-registration div.input-parent input {
        border-radius: 0 5px 5px 0;
        padding: 0 13px;
        width: 160px;
        font-weight: bold;
        font-size: 20px;
	}

	#page-registration div.input-parent .btn {
		border-radius: 5px;
		margin-top: 10px;
        text-decoration: none;
	}

	#page-registration .error {
        background: red;
        padding: 10px;
	}
}