/* App */

html,
body,
#page-content,
#map,
#map-container {
    position: relative;
	height: 100%;
	overflow-x: hidden;
}

body {
    font-size: 0;
    font-weight: 400;
    color: #454545;
}

a:hover {
    text-decoration: none;
}

a[href]:hover {
    text-decoration: underline;
}

.btn .badge {
    position: absolute;
    top: 0px;
    right: -1px;
    color: #fff;
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 8px;
    text-align: center;
    border-radius: 10px;
    background: #ff5100;
}

.mobile-only {
    display: none !important;
}

.capitalize-first-letter:first-letter {
    text-transform: uppercase;
}


/** DROPDOWN **/

.parent-dropdown {
    display: inline-block;
    vertical-align: top;
}

.parent-dropdown .open.dropdown > .dropdown-menu,
.parent-dropdown .dropdown.open-hover:hover > .dropdown-menu {
    position: absolute;
    height: auto;
    width: auto;
    max-width: inherit;
    min-width: 100%;
    padding: 10px 0;
    opacity: 1;
    overflow: visible;
    white-space: nowrap;
    transform: translate3d(0, 0, 0);
}

.parent-dropdown .open.dropdown > .dropdown-menu.max-height,
.parent-dropdown .dropdown.open-hover:hover > .dropdown-menu.max-height {
    max-height: 300px;
    overflow: auto;
}

.dropdown.right-align > .dropdown-menu {
    right: 0;
    left: inherit !important;
}

.dropdown.right-align > .dropdown-menu .dropdown-menu {
    left: inherit;
    right: 100%;
}

.dropdown.right-align > .dropdown-menu > li a.dropdown-toggle {
    padding-right: 20px;
    padding-left: 43px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: relative;
    display: block;
    max-width: 0;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    background: #fff;
    z-index: 100;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 2px rgba(60, 72, 103, 0.1);
    transition: opacity .3s, transform .3s;
    transform: translate3d(0, -5px, 0);
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu li.dropdown-menu-group {
    padding: 15px 0;
    border-top: 1px solid #f2f2f2;
}

.dropdown-menu li.dropdown-menu-group:first-child {
    border-top: none;
}

.dropdown-menu li.dropdown-menu-group:nth-child(even) {
    background: #f9f9f9;
}

.dropdown-menu li.dropdown-menu-group:nth-child(even) > a:hover {
    background: #efefef;
}

.dropdown-menu li > a {
    display: block;
    padding: 0 20px;
    height: 30px;
    line-height: 31px;
    text-align: left;
    cursor: pointer;
    color: inherit;
}

.dropdown-menu li > a:focus,
.dropdown-menu li > a:hover {
    text-decoration: none;
}

.dropdown-menu li > a.dropdown-toggle {
    position: relative;
    padding-right: 43px;
}

.dropdown-menu li .material-icons {
    margin-right: 5px;
    font-size: 18px;
    color: #575757;
}

.dropdown-menu li > a.dropdown-toggle:after {
    content: "\e315";
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 14px;
    font-family: "Material Icons";
    font-size: 18px;
    font-weight: normal;
}

.dropdown-menu li > a:hover {
    background: #f9f9f9;
}

.dropdown-menu li > a.selected {
    font-weight: bold;
}

.dropdown-menu li > a.selected:not(.dropdown-toggle) {
    padding-left: 27px;
}

.dropdown-menu li > a.selected:not(.dropdown-toggle):before {
    content: "\e876";
    font-family: 'Material Icons' ;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
    margin-right: 3px;
    margin-left: -16px;
    position: relative;
    z-index: 1;
}

.dropdown-menu .dropdown-menu {
    top: -10px;
    left: 100%;
    margin: 0;
    z-index: 1001;
}

.dropdown-menu li:hover > .dropdown-menu,
.dropdown-menu li.open > .dropdown-menu {
    position: absolute;
    height: auto;
    width: auto;
    max-width: inherit;
    min-width: 100%;
    margin-bottom: 100px;
    padding: 10px 0;
    opacity: 1;
    overflow: visible;
    white-space: nowrap;
    transform: translate3d(0, 0, 0);
}

.dropdown.right-align > .dropdown-menu > li a.dropdown-toggle:after {
    content: "\e314";
    left: 14px;
    right: inherit;
}


/** FORM **/

.form .two-parts {
    display: flex;
    justify-content: space-between;
}

.form .two-parts > *:first-child {
    margin-right: 30px;
    padding-right: 30px;
    border-right: 1px solid #fff;
    flex-shrink: 0;
}

.form .two-parts h3 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}

.form input:not([type=checkbox]):not([type=file]),
.form textarea {
    width: 100%;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s;
}

.form input:not([type=checkbox]):not([type=file]):focus,
.form textarea:focus {
    box-shadow: 0 0 0 1px #fff;
}

.form input:not([type=checkbox]):not([type=file]).tiny {
    width: 60px;
}

.form textarea {
    padding: 10px;
    height: 120px;
    max-width: 100%;    
}

.form fieldset:not(:last-child) {
    margin-bottom: 20px;
}

.form label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
}

.form label i {
    margin-left: 3px;
    font-size: 16px;
}

.form label.label-checkbox {
    margin-top: 6px;
    margin-bottom: 0;
}

.form label.label-checkbox input[type=checkbox] {
    vertical-align: middle;
}

.form .input-line {
    display: flex;
    justify-content: space-between;
}

.form .input-line.left-align {
    justify-content: flex-start;
}

.form .input-line-centered {
    display: flex;
    align-items: center;
}

.form .input-line-centered .btn {
    margin-left: 10px;
}

.form .input-line > * {
    width: 50%;
}

.form .input-line > .small {
    width: 130px;
}

.form .input-line > *:not(:last-child) {
    margin-right: 10px;
}

.form .parent-dropdown .btn.dropdown-toggle {
    width: 100%;
    background: #fff;
}

.form .btn {
    height: 41px;
    line-height: 41px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.form .btn.upload-btn {
    height: 33px;
    line-height: 33px;
}

.form .btn i.material-icons {
    font-size: 20px;
}

.form div.input-parent.input-phone {
    display: flex;
}

.form div.input-parent.input-phone input {
    width: 220px;
    height: 45px;
    padding: 0;
    padding-left: 10px;
    border: none;
    background: #fff;
    border-radius: 0 35px 35px 0;
    line-height: 45px;
    color: #333;
    font-size: 15px;
    vertical-align: top;
    outline: 0;
}

.form div.input-parent.input-phone .btn {
    border-radius: 0 35px 35px 0;
}

.form div.input-parent .country-selection {
    position: relative;
    height: 45px;
    display: flex;
    background: #eee;
    color: #333;
    padding: 0 13px;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 35px 0 0 35px;
    cursor: pointer;
}

.form div.input-parent .country-selection .dropdown-toggle {
    display: flex;
    align-items: center;
}

.form div.input-parent .country-selection .dropdown-menu {
    top: 45px;
    left: 0;
    text-align: left;
    display: block;
}

.form div.input-parent .country-selection .dropdown-menu li {
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}

.form div.input-parent .country-selection .dropdown-menu li a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
}

.form div.input-parent .country-selection .dropdown-menu li a i {
    flex-shrink: 0;
}

.form div.input-parent .dropdown.open .dropdown-menu {
    max-width: 300px;
    max-height: 300px;
    overflow: auto;
}

.form .error {
    display: flex;
    margin-top: 10px;
    padding: 7px 13px;
    align-items: center;
    background-color: #333;
    color: #fff;
    border-radius: 25px;
    font-size: 14px;
    line-height: 16px;
}

.form .error:before {
    content: "\e000";
    display: inline-block;
    margin-right: 10px;
    font-family: "Material Icons";
    font-size: 21px;
    font-weight: normal;
    vertical-align: middle;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #c5c5c5;
    font-size: 15px;
}

input::-moz-input-placeholder,
textarea::-moz-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #c5c5c5;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #c5c5c5;
}

select {
    background: #fff;
    padding: 0 15px;
    height: 33px;
    font-size: 14px;
    color: #8c8c8c;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: 0;
}

.parent-select .btn.empty span {
    color: #c5c5c5;
}

.select-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    min-width: 120px;
    font-weight: normal;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.select-custom:after {
    font-family: 'Material Icons' !important;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    -webkit-user-select: none;
    content: "\e313";
    margin-left: 10px;
    font-size: 20px;
    width: 17px;
    vertical-align: middle;
}

input[type=file] {
    display: none;
}

.btn.upload-btn {
    display: inline-block;
    padding-left: 11px;
    margin: 0;
    font-weight: normal;
}


/** LOADING TITLE **/

div.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.9);
    z-index: 1001;
    overflow-x: hidden;
    opacity: 0;
}

div.overlay > div {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

div.overlay .content {
    position: relative;
    border-radius: 5px;
    font-size: 18px;
}

div.overlay.fade-in {
    opacity: 1;
    animation: fadeIn ease-in 0.3s;
}

div.overlay.fade-out {
    opacity: 0;
    z-index: -1;
    animation: fadeOut ease-in 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        z-index: 1000;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

#page-title {
    padding-top: 0;
    background: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#page-title:not(.fade-out) {
    opacity: 1;
    z-index: 1001;
}

#page-title > div {
    height: 100%;
    margin: 0;
    flex-direction: column;
    animation: opacity ease-in 3s infinite;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

#page-title #page-title-logo {
    position: relative;
    margin: 0 auto; 
    display: inline-block;
}

#page-title #page-title-logo:after {
    content: "";
    position: absolute;
    top: 37px;
    right: 8px;
    width: 24px;
    height: 24px;
    z-index: 3;
    border-radius: 20px;
    box-shadow: inset 0 0 0 6px #fff;
    animation: titleLogo ease 3s infinite;
}

@keyframes titleLogo {
    30% {
        box-shadow: inset 0 0 0 6px #fff;
    }
    39% {
        box-shadow: inset 0 0 0 4px #fff;
    }
    48% {
        box-shadow: inset 0 0 0 6px #fff;
    }
    57% {
        box-shadow: inset 0 0 0 4px #fff;
    }
    66% {
        box-shadow: inset 0 0 0 6px #fff;
    }
}

#page-title #page-title-logo img {
    margin-bottom: 10px;
    width: 48px;   
}

#page-title a {
    text-decoration: none;
    color: #ff5100;
}

#page-title h1 {
    font-size: 16px;
    font-weight: 300;
    color: #797979;
}



/** HEADER **/

#site-header-fixed {
    display: flex;
    justify-content: space-between;
}

#site-header-fixed:not(.show) {
	top: -100px;
}

#site-header-left {
    margin-left: 61px;
    flex-grow: 1;
}

#site-header-left,
#site-header-right {
    display: flex;
    height: 100%;
    align-items: center;
}

#site-header-right {
    float: none;
    margin-top: 0;
    margin-right: 18px;
}

#site-header-right a.btn:not(.orange-btn):not(.dark-btn) {
    border: 0;
}

#site-header-right > * {
    margin-left: 15px;
}

#site-header-right .dropdown-menu:not(#login-window) {
    background: transparent;
    box-shadow: none;
}

#site-header-right .dropdown.open .dropdown-menu {
    position: absolute;
    top: 46px;
    min-width: inherit;
    padding: 0;
}

#site-header-right .dropdown-menu > ul {
    overflow: auto;
    background: #fff;
    border-top: 1px solid #eee;
    box-shadow: -2px 2px 5px 0px rgba(60, 72, 103, 0.1);
    border-radius: 0 0 3px 3px;
}

#site-header-info {
    padding-right: 10px;
}

#site-header-fixed .btn.btn-icon {
    color: #b9b9b9;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}


/* SEARCH */

#app-search {
    position: relative;
    margin-right: 13px;
    display: flex;
    padding: 0 10px;
    height: 33px;
    font-size: 14px;
    line-height: 33px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: #8c8c8c;
}

#app-search .icon {
    color: #b9b9b9;
    font-size: 20px;
    line-height: 33px;
    margin-right: 7px;
}

#app-search:hover {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}

#app-search.enabled {
    color: #fff;
    font-weight: bold;
    box-shadow: none;
    background: #454545;
    padding-right: 30px;
}

#app-search.enabled .icon {
    color: #fff;
}

#app-search.enabled #app-search-input {
    display: none;
}

#app-search #app-search-input {
    width: 220px;
    height: 33px;
    padding-right: 0;
    margin-left: -20px;
    background: transparent;
    line-height: 33px;
    font-size: 14px;
    color: #8c8c8c;
}

#app-search #app-search-input:focus {
    outline: none;
}

#app-search #app-search-address {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

#app-search .erase {
    position: absolute;
    right: 8px;
    top: 9px;
    font-size: 15px;
}

#app-filters .btn .badge {
    background: #454545;
}


/** NEW ACTION **/

#btn-new-action .dropdown-menu {
    right: -70px;
}


/** HELP **/

#help-menu .btn {
    padding-right: 5px;
}

#help-menu .dropdown-menu {
    left: 0;    
}


/** MESSAGES **/

#user-messages .dropdown-menu {
    right: -68px;
}

#user-messages .dropdown-menu > ul {
    max-height: 270px;
    border-radius: 0 0 0 3px;
}

#user-messages .no-content {
    padding: 20px;
}

#user-messages .action-item {
    padding: 10px;
    align-items: center;
}

#user-messages .action-item.unread {
    background-color: #f9f9f9;
}

#user-messages .action-info {
    margin-left: 10px;
    margin-right: 0;
    max-width: 250px;
    min-width: 200px;
    font-size: 13px;
}

#user-messages .action-info p {
    margin-top: 2px;
    color: #8c8c8c;
}

#user-messages .action-info p.pending {
    color: #ff5100;
    font-style: italic;
}

#user-messages .action-info p.pending i {
    margin-top: -1px;
    margin-right: 0;
    color: #ff5100;
    font-size: 14px;
}   

#user-messages .action-item.unread .action-info p {
    font-weight: bold;
    color: #ff5100;
}


/** MENU **/

#user-menu .dropdown-toggle {
    margin: 0;
    cursor: pointer;
}

#user-menu .action-participants-picture-container {
    width: 35px;
    height: 35px;
}

#user-menu .dropdown-menu {
    right: -18px;
}

#user-menu .dropdown-menu > ul {
    max-height: 100%;
    font-size: 15px;
}

#user-menu .dropdown-menu a.orange,
#user-menu .dropdown-menu a.orange .material-icons {
    font-weight: bold;
    color: #ff5100;
}


/** LOGIN **/

#site-header-login {
    height: 40px;
    line-height: 40px;
    margin-left: 1px;
}

#site-header-login > .dropdown > .dropdown-toggle {
    padding-left: 10px;
    line-height: 23px;
    cursor: pointer;
    vertical-align: middle;
    border-left: 1px solid #ccc;
}

#site-header-login #login-window {
    padding: 0px;
    background-color: #F9F9F9;
    left: 50px;
    transform: translateX(-50%);
    line-height: 20px;
}

#site-header-login #login-window:before {
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 0 10px 9px 10px;
    border-color: transparent transparent #F9F9F9 transparent;
}

#site-header-login .login-content {
    width: 260px;
    margin: 20px;
    white-space: normal;
}

#site-header-login .login-content input:not([type=checkbox]) {
    width: 100%;
    flex-grow: 10;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

#site-header-login .login-content .label-checkbox {
    margin-top: 10px;
    margin-bottom: -10px;
}

#site-header-login .login-content .btn {
    width: 100%;
    text-align: center;
}

#site-header-login .login-content .btn i {
    margin-left: 5px;
    margin-right: 0;
}

#site-header-login .error {
    background: red;
}

#site-header-login .login-content .bottom-links {
    margin-top: 7px;
    margin-bottom: -10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    font-size: 12px;
    cursor: pointer;
}

#site-header-login .login-content .bottom-links a {
    text-decoration: underline;
    color: inherit;
}

#site-header-login .login-content .bottom-links i {
    margin-right: 4px;
    font-size: 15px;
    vertical-align: middle;
}


/** REGISTER **/

#modal-register {
	display: flex;
    padding: 0 30px;
    flex-wrap: nowrap;
    background: url(../img/bg-simple-comme-bonjour.jpg);
    background-size: cover;
}

#modal-register div.illu {
    width: 200px;
    background: url(../img/character-1.png) no-repeat;
    background-position: bottom left;
    flex-shrink: 0;
}

#modal-register div.form {
    margin: 50px 40px;
    width: 430px;
    text-align: center;
}

#modal-register h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

#modal-register div.input-parent {
	margin-top: 20px;
	justify-content: center;
}

#modal-register .btn {
    height: 45px;
    margin-left: 10px;
    background: #000;
    border-radius: 22px;
    line-height: 45px;
    font-size: 15px;
}

#modal-register .bottom-link {
    margin-top: 20px;
    font-size: 14px;
}

#modal-register .bottom-link a {
    text-decoration: underline;
    color: inherit;
}

#modal-register .connection-form {
    padding-top: 20px;  
    text-align: left;
}

#modal-register .connection-form fieldset {
    margin-bottom: 10px;
}

#modal-register .connection-form .btn {
    margin-left: 0;
}

#modal-register .connection-form input {
    margin-bottom: 10px;
    width: 220px;
    font-weight: bold;  
}


/** PROFILE REQUIRED **/

#modal-profile-required .action-participants-picture-container {
    width: 60px;
    height: 60px;
}

#modal-profile-required .form label.label-checkbox span {
    font-style: italic;
}


/** WELCOME CAROUSEL **/

#modal-carousel {

}

#modal-carousel > ul {
    position: relative; 
    display: flex;
    text-align: center;
    font-size: 0;
    transition: left 0.5s;
}

#modal-carousel li {
    width: 300px;
}

#modal-carousel li:not(:last-child) {
    border-right: 1px solid #fff;
}

#modal-carousel h3 {
    margin: 20px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

#modal-carousel p {
    padding: 0 18px;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

#modal-carousel a.btn {
    margin-top: 20px;
}

/** PROFILE EDIT **/

#modal-profile-edit {

}

#profile-edition-form .action-participants-picture-container {
    width: 60px;
    height: 60px;
}

#profile-edition-form .action-participants-picture-container .action-participants-picture {
    border-radius: 30px;
}

#profile-edition-form textarea,
#profile-edition-form input[type=text] {
    width: 300px;
}

#profile-edition-form .btn-delete {
    margin-top: 20px;
    color: #fff;
    font-size: 12px;
    background: rgba(0,0,0,0.2);
    height: 33px;
    line-height: 33px;
    box-shadow: none;
}

#profile-edition-form .delete-link i {
    font-size: 20px;    
}


/** PICTURE EDIT **/

#modal-new-picture {
}

.step-download {
    margin: 20px;
    text-align: center;
}

.ng-image-crop {
    position: relative;
    margin: 0 auto;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ng-image-crop .cropping-canvas {
    background: rgba(255, 255, 255, .3);
    margin: 0 auto;
    cursor: move;
}

.ng-image-crop .cropping-guide {
    display: block;
    background: rgba(255, 255, 255, .3);
    border: 2px dashed white;
    position: absolute;
    pointer-events: none;
}
.ng-image-crop--circle .cropping-guide {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.ng-image-crop .zoom-handle {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 1px;
    background: rgba(255,255,255,0.7);
    width: 80px;
    height: 80px;
    cursor: move;
}
.ng-image-crop .zoom-handle > span {
    color: rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: block;
    position: relative;
    top: 32px;
    font-size: 14px;
}


/** FEED **/

#user-feed {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    z-index: 9;
}

#user-feed-list {
    width: 355px;
    height: 100%;
    overflow: auto;
    background: #fff;
    color: #454545;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

#user-feed-end {
    padding: 20px;
    font-size: 13px;
    text-align: center;
    display: block;
    font-weight: bold;
    line-height: 20px;
}

#user-feed-end a {
    text-decoration: underline;
}

#user-feed-end img {
    margin-top: 10px;
    box-shadow: 0 0 10px 3px #0000001f;
    border-radius: 50px;    
}


/** ACTION ITEM **/

.action-item {
    display: flex;
    border-bottom: 1px solid #eee;
    transition: background 0.3s, box-shadow 0.3s;
    font-size: 11px;
    cursor: pointer;
}

.action-item.announcement {
    border-bottom: 0;
    background: #eee;
    text-align: center;
    cursor: inherit;
}

.action-item:not(.announcement).closed {
    background: #f5f5f5;
}

.action-item:not(.announcement).closed action {
    opacity: 0.7;
}

.action-item:not(.announcement):hover {
    background: #e9e9e9;
}

.action-item.active {
    box-shadow: inset 10px 0px 0px -4px #ff5100;
}

.action-item.announcement + .action-item.announcement {
    margin-top: 10px;
}

.action-item action {
    display: flex;
    width: 100%;
    padding: 20px;
    cursor: pointer;
}

.action-item .action-info {
    width: 100%;
    flex-grow: 1;
    margin-right: 10px;
}

.action-item h2 {
    font-size: 15px;
    font-weight: bold;
    line-height: 17px;
    flex-grow: 2;
}

.action-item.announcement h2 {
    display: flex;
    min-height: 35px;
    align-items: center;
    text-align: left;
}

.action-item.announcement h2 .action-icon {
    margin-right: 5px;
    padding: 8px;
    background-color: #333;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center center;
}

.action-item.closed h2 {
    font-style: italic;
}

.action-item h2 .action-icon {
    flex-shrink: 0;
    margin-right: 2px;
}

.action-item h2 span {
    line-height: 19px;
}

.action-icon {
    display: inline-block;
    margin-right: 2px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 0;
    border-radius: 20px;
    text-align: center;
    font-style: normal;
    vertical-align: text-top;
    color: #fff;
}

.action-icon.contribution {
    background-color: #4736ee;
}

.action-icon.ask_for_help {
    background-color: #ff5100;
}

.action-icon.outing {
    background-color: #333;
}

.action-item.closed .action-icon {
    background-color: #eee !important;
}

.action-item.closed .action-icon {
    color: #333;
}

.action-icon:before {
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 14px;
    font-weight: normal;
}

.action-icon.event:before {
    content: "\e878";
}

.action-icon.info:before {
    content: "\e88e";
}

.action-icon.mat_help:before {
    content: "\e54c";
}

.action-icon.other:before {
    content: "\e5d3";
}

.action-icon.resource:before {
    content: "\e54a";
}

.action-icon.skill:before {
    content: "\e3c9";
}

.action-icon.social:before {
    content: "\e7fb";
}

.action-icon.outing:before {
    content: "\e614";
}

.action-item .action-status {
    margin-top: 6px;
    color: #858484;
    font-size: 13px;
}

.action-item .action-status i {
    font-size: 14px;
    margin-top: -1px;
}

.action-item .action-status-joined {
    color: #ff5100;
    font-weight: bold;
}

.action-item .action-status-pending  {
    color: #ff5100;
    font-style: italic;
}

.action-item .action-status-closed {
    font-style: italic;
}

.action-item.announcement .action-icon {
    background-color: transparent;
    vertical-align: middle;
    background-size: cover;
}

.action-item.announcement .action-announcement-content {
    margin-top: 10px;
    margin-right: -48px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.action-item.announcement .action-announcement-content p {
    margin: 10px 0;
    font-size: 14px;
}


/** ACTION PARTICIPANTS PICTURE **/

.action-participants-picture-container {
    position: relative;
    width: 38px;
    height: 38px;
    flex-shrink: 0;
}

.action-participants-picture {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.action-participants-picture.clickable {
    cursor: pointer;
}

.action-participants-picture .action-author-profile {
    background-size: cover;
    background-position: center;    
    flex-grow: 1;
    background-color: #eee;
}

.action-participants-picture .action-author-profile.no-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-participants-picture .action-author-profile.no-picture:before {
    content: "\e7fd";
    font-family: 'Material Icons';
    font-size: 18px;
    line-height: 38px;
    color: #737373;
}

.action-participants-picture .action-participants {
    width: 50%;
    background-color: #333;
    color: #fff;
    font-size: 9px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
}

.action-participants-picture-container .action-author-badge {
    position: absolute;
    bottom: -7px;
    left: 11px;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-size: 100%;
    background-color: #fff;
}

/** MODAL PARTICIPANTS **/

#modal-action-participants {

}

#modal-action-participants .action-participant {
    display: flex;
    padding: 5px;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s;
}

#modal-action-participants .action-participant:hover {
    background-color: #ffffff59;
}

#modal-action-participants .action-participant + .action-participant {
    border-top: 1px solid #ffffff59;
}

#modal-action-participants .action-participant .action-participants-picture-container {
    margin-right: 10px;
}

#modal-action-participants .action-participant h3 {
    font-weight: bold;
    font-size: 14px;
}


/** ACTION PICTURE **/

.action-author-link.clickable {
    cursor: pointer;
}

.action-author-picture {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #ddd;
    background-size: 100%;
    margin-right: 5px;
    vertical-align: middle;
}

.action-author-picture.no-picture {
    background-color: #eee;
    text-align: center;
}

.action-author-picture.no-picture:before {
    content: "\e7fd";
    font-family: 'Material Icons';
    font-size: 12px;
    line-height: 20px;
    color: #737373;
}


/** NEW ACTION **/

#modal-new-action .form {
    width: 470px;
}

#terms-list {
    padding: 30px;
    color: #fff;
}

#terms-list li {
    display: flex;
    width: 410px;
    margin: auto;
    margin-bottom: 30px;
    font-size: 15px;
    align-items: center;
}

#terms-list li:last-child {
    margin-bottom: 0;
}

#terms-list li .material-icons {
    width: 40px;
    text-align: center;
    font-size: 36px;
    margin-right: 20px
}

#terms-list li strong {
    display: block;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px
}


/** PROFILE USER **/

#modal-profile-user {
    margin-top: 50px;
    padding-top: 40px;
}

#modal-profile-user .action-participants-picture-container {
    width: 88px;
    height: 88px;
    position: absolute;
    top: -44px;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%);
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.35);
}

#modal-profile-user .action-participants-picture .action-author-profile.no-picture:before {
    font-size: 48px;
}

#modal-profile-user .modal-profile-user-name {
    margin: 10px 0;
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    text-transform: capitalize;
}

#modal-profile-user .modal-profile-user-description {
    margin-bottom: 30px;
    padding: 17px;
    font-size: 15px;
    color: #fff;
    background-color: rgba(255,255,255,0.18);
    border-radius: 5px;
}

#modal-profile-user .modal-profile-user-info {
    display: flex;
    justify-content: space-between;
}

#modal-profile-user .modal-profile-user-name + .modal-profile-user-info {
    border-top: 1px solid rgba(255,255,255,0.3);
    padding-top: 30px;
}

#modal-profile-user .modal-profile-user-info ul:first-child {
    margin-right: 40px;
}

#modal-profile-user .modal-profile-user-info li {
    font-size: 15px;
}

#modal-profile-user .modal-profile-user-info li:first-child {
    margin-bottom: 4px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

#modal-profile-user .modal-profile-user-info li i {
    font-size: 15px;
}

#modal-profile-user .modal-profile-user-info a {
    color: #fff;
    text-decoration: underline;
}

#modal-profile-user + .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#modal-profile-user + .modal-footer .btn {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}


/** MAP **/

#map {
    position: relative;
    padding-top: 60px;
    padding-left: 355px;
    overflow: hidden;
    transition: opacity 0.3s;
}

#map.full-width {
    padding-left: 0px;
}

#map.loading {
    opacity: 0.6;
}

#map-bottom-band {
    position: absolute;
    bottom: -120px;
    left: 0;
    width: 100%;
    padding: 20px;
    background: #ff5100;
    color: #fff;
    font-size: 14px;
    z-index: 1;
    transition: bottom 1s;
}

#map-bottom-band.open {
    bottom: 0px;
}

#map-bottom-band a {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

#map .popup-bubble-content {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    background-color: white;
    font-size: 11px;
    color: #333;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
}

#map .popup-bubble-content .popup-bubble-content-header {
    padding: 10px 15px;
    font-size: 13px;
    font-weight: 600;
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    border-radius: 5px 5px 0 0;
}

#map .popup-bubble-content .popup-bubble-content-bottom {
    padding: 10px 15px;
}

#map .popup-bubble-content .popup-bubble-content-bottom .date {
    color: #6C6F73;
}

#map .popup-tip-anchor {
    height: 0;
    position: absolute;
}

#map .popup-bubble-anchor {
    min-width: 300px;
    max-width: 300px;
}

#map .popup-bubble-anchor:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, 0);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid white;
}


/** CURRENT ACTION **/

#current-action {
	position: absolute;
    bottom: -600px;
    right: 18px;
    width: 340px;
    z-index: 10;
	transition: bottom 0.3s;
}

#current-action > div {
    position: relative;
}

#current-action.open {
	bottom: 0px;
}

#current-action .action-actions {
    margin-bottom: 3px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    text-align: center;
}

#current-action .action-actions a {
    display: inline-block;
    cursor: pointer;
    font-weight: 400;
    border-radius: 30px;
    vertical-align: top;
}

#current-action .action-actions a:not(:first-child) {
    margin-left: 5px;
}

#current-action .action-actions a i {
    font-size: 16px;
}

#current-action .action-left-actions a {
    background-color: #365899;
    font-size: 12px;
    padding: 0 10px;
}

#current-action .action-left-actions a i {
    margin-right: 4px;
    height: 20px;
    color: #fff;    
}

#current-action .action-right-actions a {
    width: 28px;
    background: #f9f9f9;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
    vertical-align: middle;
}

#current-action .action-right-actions a i {
    color: #626262;
}

#current-action .action-right-actions a.action-close {
    background-color: #626262;
    box-shadow: none;
}

#current-action .action-right-actions a.action-close i {
    color: #fff;
}

#current-action .action-content {
    max-height: 430px;
    display: flex;
    flex-direction: column;
    border-radius: 5px 5px 0 0;
    background: #fff;
    box-shadow: 0 0 9px rgba(0,0,0,0.3);
}

#current-action .action-title {
    padding: 20px;
	font-size: 15px;
    font-weight: 600;
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    border-radius: 5px 5px 0 0;
}

#current-action .action-title > div {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

#current-action .action-title h2 {
    margin-left: 10px;
    flex-grow: 1;
    line-height: 16px;
}

#current-action .action-date {
    margin-right: 10px;
    padding: 4px 6px;
    width: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #eee;
    font-size: 11px;
    font-weight: normal;
    background: #fff;
    border-radius: 5px;
}

#current-action .action-date strong {
    font-size: 18px;
    line-height: 14px;
    font-weight: bold;  
}

#current-action .action-address {
    margin-top: 8px;
    margin-bottom: -12px;
    padding-top: 8px;
    border-top: 1px solid #eee;
    font-size: 12px;
    font-weight: normal;
    line-height: 13px;
}

#current-action .action-chat {
	padding: 20px;
	overflow: auto;
    font-size: 13px;
}

#current-action .action-details {
    position: relative;
    font-size: 12px;
    color: #6C6F73;
    text-align: left;
    line-height: 26px;
    padding-right: 10px;
}

#current-action .action-details + .action-description {
    padding-top: 6px;
    border-top: 1px solid #f1f1f1;
}

#current-action .action-description {
    padding-right: 5px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    word-wrap: break-word;
}

#current-action .action-chat-date {
    margin: 10px 0;
    padding-bottom: 1px;
    font-size: 10px;
    text-transform: uppercase;
    color: #848484;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    font-weight: 500;
}

#current-action .action-chat-author {
    margin-top: 10px;
    color: #6c6f73;
}

#current-action .action-chat-message {
    display: inline-block;
    margin: 5px 0;
    background: #e9e9e9;
    border-radius: 11px;
    padding: 10px 13px;
    color: #454545;
    word-break: break-word;
}

#current-action .action-description a,
#current-action .action-chat-message a {
    color: #ff5100;
    text-decoration: underline;
}

#current-action .own-message {
    text-align: right;
}

#current-action .own-message .action-chat-message {
    background: #ff5100;
    color: #fff;
    text-align: left;
}

#current-action .own-message .action-chat-message a {
    color: #fff;
}

#current-action .action-chat .centered {
    text-align: center;
}

#current-action .action-chat-author b {
    font-weight: 500;
}

#current-action .action-chat-requests {
    padding: 10px;
    padding-top: 1px;
    margin: -10px;
    margin-top: 10px;
    background: #333;
    border-radius: 5px;
    text-align: center;
}

#current-action .action-chat-requests .action-chat-author {
    margin-bottom: 10px;
    color: #fff;
}

#current-action .action-chat-requests .action-chat-message {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    text-align: left;
    background-color: #5f5f5f;
}

#current-action .action-chat-requests .reject {
    color: #fff;
    text-decoration: underline;
    line-height: 33px;
    margin-left: 10px;
    cursor: pointer;
}

#current-action .action-buttons {
    padding: 10px;
    background: #f9f9f9;
    border-top: 1px solid #eee;
    text-align: center;
}

#current-action .action-new-message {
    display: flex;
    align-items: center;
}

#current-action .action-new-message textarea,
#current-action .action-new-message .textarea {
    position: relative;
    width: 100%;
    max-width: 100%;
    font-size: 13px;
    text-align: left;
    font-weight: 400;
    line-height: 17px;
    border-radius: 27px;
    background: #fff;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

#current-action .action-new-message textarea {
    height: 37px;
    min-height: 37px;
    max-height: 105px;
    padding: 10px 20px;
    resize: none;
}

#current-action .action-new-message textarea:not(.overflow) {
    overflow: hidden;
}

#current-action .action-new-message .textarea .content {
    position: relative;
    min-height: 37px;
    max-height: 68px;
    padding: 10px 20px;
    overflow-x: hidden;
    outline: none;
    user-select: text;
    white-space: pre-wrap;
    word-wrap: break-word;
    z-index: 1;
}

#current-action .action-new-message .textarea input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 37px;
    background: none;
}

#current-action .action-new-message textarea:hover,
#current-action .action-new-message textarea:focus,
#current-action .action-new-message .textarea:hover,
#current-action .action-new-message .textarea:focus {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
    outline: none;
}

#current-action .action-new-message a {
    margin-left: 10px;
    padding: 0 10px;
    height: 37px;
    line-height: 37px;
}


/* GMAPS CSS */

.gm-style .marker-action {
    margin-top: -7px;
    margin-left: -7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffa018;
    border-radius: 100%;
    transform-origin: center;
    transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
}

.gm-style .marker-action.status-open {
    opacity: 1 !important;
    animation: pulse 3s infinite;
}

.gm-style .marker-action.status-open:nth-child(2n) {
	animation: pulseBis 3s infinite;
}

.gm-style .marker-action.status-open:nth-child(3n) {
	animation: pulseTer 3s infinite;
}

.gm-style .marker-action.status-open:hover,
.gm-style .marker-action.active:not(.hide-animation) {
    opacity: 1 !important;
    background: #ff5100;
    animation: pulseActive 0.7s infinite !important;
    z-index: 9999 !important;
    transform: scale(1.2);
}

.gm-style .marker-action.status-closed {
    opacity: 0.7 !important;
    box-shadow: 0 0 2px 2px #505050;
    transform: scale(0.7);
    background: #505050;
    animation: none;
    z-index: -9999 !important;
}

.gm-style .marker-action.status-closed:hover,
.gm-style .marker-action.status-closed.active {
    opacity: 1 !important;
    background: #000 !important;
    animation: none !important;
}

.gm-style .marker-action:after {
    margin-top: -1px;
    display: inline-block;
    font-family: "Material Icons";
    color: #fff;
    font-size: 24px;
}

.gm-style .marker-action.join-status-accepted {
    transform: scale(1.2);
}

.gm-style .marker-action.join-status-accepted:after {
    content: "\e7fb";
}

.gm-style .marker-action.unread:after {
    content: "\e0be";
}

.gm-style .marker-action.join-status-pending:after {
    content: "\e192";
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 6px 4px #ff8404;
    }
    50% {
        box-shadow: 0 0 6px 7px #ff8404;
    }
    100% {
        box-shadow: 0 0 6px 4px #ff8404;
    }
}

@keyframes pulseBis {
    0% {
        box-shadow: 0 0 6px 4px #ff8404;
    }
    10% {
        box-shadow: 0 0 6px 4px #ff8404;
    }
    50% {
        box-shadow: 0 0 6px 7px #ff8404;
    }
    100% {
        box-shadow: 0 0 6px 4px #ff8404;
    }
}

@keyframes pulseTer {
    0% {
        box-shadow: 0 0 6px 4px #ff8404;
    }
    20% {
        box-shadow: 0 0 6px 4px #ff8404;
    }
    50% {
        box-shadow: 0 0 6px 7px #ff8404;
    }
    100% {
        box-shadow: 0 0 6px 4px #ff8404;
    }
}

@keyframes pulseActive {
    0% {
        box-shadow: 0 0 6px 4px #e04e0a;
    }
    50% {
        box-shadow: 0 0 6px 6px #e04e0a;
    }
    100% {
        box-shadow: 0 0 6px 4px #e04e0a;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.gm-bundled-control {
    zoom: 0.6;
}


/** LOADER **/

.loading {
    position: relative;
    overflow: hidden;
}

.loading:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.9);
    z-index: 999;
}

.loading:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    border: 4px solid #eee;
    border-top-color: #ff5100;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 1000;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: translateY(-50%) translateX(-50%) rotate(0deg);
    }
    100% {
        transform: translateY(-50%) translateX(-50%) rotate(360deg);
    }
}


/*** MODAL ***/

.modal-open {
    overflow: hidden;
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    text-align: center;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    display: inline-block;
    margin: 10px;
    max-width: 600px;
}

.modal-no-width .modal-dialog {
    max-width: inherit;
}

.modal-content {
    position: relative;
    font-size: 18px;
    background-clip: padding-box;
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: rgba(255,255,255,0.9);
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop.in {
    opacity: 1;
}

.modal-header {
    padding: 15px;
    color: #ff5100;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.modal-header a {
    color: #ff5100;
    text-decoration: underline;
}

.modal-dark .modal-header,
.modal-dark .modal-header a {
    color: #333;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-body {
    position: relative;
    padding: 30px;
    background-color: #ff5100;
    border-radius: 15px;
    text-align: left;
    color: #fff;
}

.modal-dark .modal-body {
    background-color: #333;
}

.modal-body .parent-dropdown {
    color: #000;
}

.modal-body.loading {
    min-width: 200px;
    min-height: 200px;
}

.modal-body.loading > * {
    opacity: 0;
}

.modal-body .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FFF;
    cursor: pointer;
}

.modal-body .modal-close i {
    font-size: 21px;
}

.modal-body.loading + .modal-footer {
    opacity: 0.4;
}

.modal-body.loading + .modal-footer a.btn {
    cursor: wait;
}

.modal-dark .modal-body .white-btn {
    color: #333;
}

.modal-footer {
    position: relative;
    padding: 20px;
    text-align: center;
}

.modal-footer .btn {
    height: 41px;
    line-height: 41px;
    font-size: 15px;
}

.modal-footer .btn i.material-icons {
    font-size: 20px;
}

.modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
}

.modal-footer .btn-icon {
    padding: 0 10px;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: 768px) {
    .modal-dialog {
        margin: 30px auto;
    }

    .modal-sm {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}


/*** TOOLTIPS ***/


.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
    line-break: auto;
}

.tooltip.fade.in {
    opacity: 0.9;
    filter: alpha(opacity=0.9);
}

.tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
}

.tooltip.right {
    padding: 0 5px;
    margin-left: 3px;
}

.tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px;
}

.tooltip.left {
    padding: 0 5px;
    margin-left: -3px;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #333;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #333;
    border-radius: 4px;
}



/*** DATEPICKER ***/

.uib-datepicker-popup.dropdown-menu {
    position: absolute;
    height: auto;
    width: auto;
    max-width: inherit;
    min-width: 100%;
    padding: 10px;
    opacity: 1;
    overflow: visible;
    white-space: nowrap;
    transform: translate3d(0, 0, 0);
    color: #333;
}

.uib-datepicker-popup .btn {
    min-width: 33px;
    line-height: 33px;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    height: inherit;
    padding: 0;
    background: transparent;
}

.uib-datepicker-popup .uib-day:hover,
.uib-datepicker-popup .btn.active {
    font-weight: bold;
}

.uib-datepicker-popup .btn.active span {
    padding: 5px;
    color: #fff;
    background: #ff5100;
    border-radius: 33px;
}

.text-muted {
    color: #777;
}

.uib-datepicker-popup .btn i {
    vertical-align: top;    
}

.fb_customer_chat_bubble_pop_in {
    right: 34px !important;
    z-index: 9 !important;
}


/* Edge */
@supports (-ms-ime-align:auto) {
    #current-action > div,
    #current-action .action-content {
        overflow: hidden;
    }
}

/* IE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #current-action .action-chat {
        max-height: 300px;
    }
}